# Node
node_modules/
dist/
.env
.env.local

# Firebase
serviceAccount.json
.firebase/

# Flutter
app/.dart_tool/
app/build/
app/.flutter-plugins
app/.flutter-plugins-dependencies

# Misc
.DS_Store

#Docs
docs/